In [67]:
import pandas as pd
import os.path as path
from nltk import casual_tokenize
from sklearn.linear_model import LogisticRegression

In [68]:
df = pd.read_csv("../NRC-Emotion-Lexicon.csv")
SETS_PATH = "../data/preprocessing_phase/"

In [69]:
df.head()

,English (en),Afrikaans (af),Albanian (sq),Amharic (am),Arabic (ar),Armenian (hy),Azeerbaijani (az),Basque (eu),Belarusian (be),Bengali (bn),...,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,aback,uit die veld geslaan,prapa,ተጭኗል,الى الوراء,շեղում,sanki,aback,ззаду,পশ্চাতে,...,0,0,0,0,0,0,0,0,0,0
1,abacus,abakus,numërator,abacus,طبلية تاج,անբավարարություն,abacus,abako,абака,গণনা-যন্ত্রবিশেষ,...,0,0,0,0,0,0,0,0,0,1
2,abandon,verlaat,braktis,ውጣ,تخلى,լքել,tərk et,bertan behera,адмовіцца ад,বর্জিত করা,...,0,1,0,0,0,1,0,1,0,0
3,abandoned,verlate,braktisur,ተትቷል,مهجور,լքված,tərk etdi,abandonatutako,закінуты,পরিত্যক্ত,...,0,1,1,0,0,1,0,1,0,0
4,abandonment,verlating,braktisje,ማቋረጥ,التخلي عن,հրաժարվելով,ləğv,abandono,пакіданне,বিসর্জন,...,0,1,1,0,0,1,0,1,1,0

In [70]:
sadness_joy_df = df[(df['Sadness'] == 1) | (df['Joy'] == 1)]
sadness_joy_df

,English (en),Afrikaans (af),Albanian (sq),Amharic (am),Arabic (ar),Armenian (hy),Azeerbaijani (az),Basque (eu),Belarusian (be),Bengali (bn),...,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
2,abandon,verlaat,braktis,ውጣ,تخلى,լքել,tərk et,bertan behera,адмовіцца ад,বর্জিত করা,...,0,1,0,0,0,1,0,1,0,0
3,abandoned,verlate,braktisur,ተትቷል,مهجور,լքված,tərk etdi,abandonatutako,закінуты,পরিত্যক্ত,...,0,1,1,0,0,1,0,1,0,0
4,abandonment,verlating,braktisje,ማቋረጥ,التخلي عن,հրաժարվելով,ləğv,abandono,пакіданне,বিসর্জন,...,0,1,1,0,0,1,0,1,1,0
13,abduction,ontvoering,rrëmbim,ጠለፋ,اختطاف,առեւանգում,qaçırma,bahiketa,адвядзенне,অপহরণ,...,0,1,0,0,0,1,0,1,1,0
33,abortion,aborsie,abort,ፅንስ ማስወረድ,الإجهاض,աբորտ,abort,abortua,аборт,গর্ভপাত,...,0,1,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14162,young,jong,i ri,ወጣት,شاب,երիտասարդ,gənc,gazte,малады,তরুণ,...,1,0,0,1,0,0,1,0,1,0
14164,youth,jeug,të rinjtë,ወጣት,شباب,երիտասարդություն,gənclər,gazteria,моладзь,যৌবন,...,1,0,1,1,0,1,1,0,1,0
14167,zeal,ywer,zell,ቅንነት,حماسة,նախանձախնդրություն,həsrət,celo,стараннасць,চাড়,...,1,0,0,1,0,0,1,0,1,1
14169,zealous,ywerig,i zellshëm,ቀናተኛ,متحمس,նախանձախնդիր,qəsdkar,zealous,руплівы,প্রবল উদ্দীপনাপূর্ণ,...,1,0,0,0,0,0,1,0,0,1
14174,zest,lus,gjallëri,zest,شهية,սեզոն,zest,Zestoan,цэдра,রূচি,...,1,0,0,1,0,0,1,0,0,1

In [71]:
english_df = sadness_joy_df[['English (en)','Joy','Sadness']]
english_df.reset_index(inplace=True,drop=True)
english_df.head()

  English (en)  Joy  Sadness
0      abandon    0        1
1    abandoned    0        1
2  abandonment    0        1
3    abduction    0        1
4     abortion    0        1

In [72]:
#some words could represent sadness and happiness
english_df = english_df[english_df['Joy'] != english_df['Sadness']]

In [73]:
english_df.head()

  English (en)  Joy  Sadness
0      abandon    0        1
1    abandoned    0        1
2  abandonment    0        1
3    abduction    0        1
4     abortion    0        1

In [74]:
joy_df = english_df['English (en)'][english_df['Joy'] == 1]
sadness_df = english_df['English (en)'][english_df['Sadness'] == 1]

joy_df.to_csv("joy_words",index=False)
sadness_df.to_csv("sadness_words",index=False)

In [75]:
joy_list = joy_df.to_list()
sadness_list = sadness_df.to_list()

In [76]:
#let's try to see if they will be useful in context:
#load the preprocessed data:
datasets = {'train':pd.read_csv(path.join(SETS_PATH,"train_set.csv")),
            'valid':pd.read_csv(path.join(SETS_PATH,"valid_set.csv")),
            'test':pd.read_csv(path.join(SETS_PATH,"test_set.csv"))}

In [77]:
datasets['train']['sentiment'].value_counts()

sentiment
1    3643
0    3618
Name: count, dtype: int64

In [80]:
casual_tokenize(datasets['train']['content'].iloc[9])

['girlx', 'bottom', 'thing', 'moving', 'feels', 'bad', 'man']

In [42]:
#feature extractors:

def number_of_positive_words(tokens,positive_words_list=joy_list):
    return sum([word in positive_words_list for word in tokens])

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer =  TfidfVectorizer()
tfidf_features = vectorizer.fit_transform(datasets['train']['content'])

In [96]:
datasets['train']['content'].shape

(7261,)

In [95]:
tfidf_features.shape

(7261, 13348)

In [88]:
def feature_extractor(input_features,feature_extractor_functions):
    df = pd.DataFrame()
    for fun in feature_extractor_functions:
        df = pd.concat([df,input_features.apply(feature_extractor_functions)])
    return df

In [55]:
model = LogisticRegression()

In [82]:
x = datasets['train']['content']
y = datasets['train']['sentiment']

In [98]:
from sklearn import set_config
set_config(transform_output = "pandas")

In [108]:
tfidf_features.shape

(7261, 13348)

In [109]:
final_features = feature_extractor(x,[number_of_positive_words])
final_features.shape

(7261, 1)

In [110]:
final_features = pd.concat([final_features,pd.DataFrame(tfidf_features.toarray())],axis=1)

In [111]:
final_features.shape

(7261, 13349)

In [ ]:
model.fit()

In [113]:
number_of_positive_words.__name__

'number_of_positive_words'